---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio&family=Maven+Pro&family=Satisfy&display=swap');

body {
  font-family:'Maven';
  color:white;
  background-color: #CDBCDB;  
}


.github-icon {
  color: #6FB3B8; 
}

.linkedin-icon {
  color: #6FB3B8; 
}

.envelope-icon {
  color: #6FB3B8; 
}

.column-container {
  text-align: left;
}

.prestextintro {
  text-align: left;
  color: white;
  font-size: 1.40rem;
}

.prestextintrotitle {
  text-align: left;
  color: white;
  font-size: 1.95rem;
  font-family:'Alata'
}


header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  float:center;
  position:static;
}

section {
  width:800px;
  float:center;
  padding-bottom:50px;
}


.wrapper {
  width:1160px;
  margin:0 auto;
}

.neurotext {
  opacity: 0;
  color: white;
  font-family:'Maven';
  text-align: center;
  font-size: 1.75rem;
  overflow: hidden;
  width: 35rem;
  height: 1rem;
  transition: 2s ease;
  
}

.blur{
transition: 1s ease;
filter: grayscale(0%) blur(15px);
width: 300px;
aspect-ratio: 1;
object-fit: cover;
border-radius: 50%;
  
}

.blur:hover {
transition: 1s ease;
filter: grayscale(0%) blur(0px);
filter: white;
}

.neuralwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.neuralwrapper:hover .neuraltext {
  height: 5rem;
  opacity: 1;
  transform: translate(0, 30px);
}

.neuraltext {
  opacity: 0;
  color: white;
  font-family:'Maven';
  text-align: center;
  font-size: 1.75rem;
  overflow: hidden;
  width: 35rem;
  height: 1rem;
  transition: 2s ease;
  
}

.titletext {
  text-shadow: 0 0 9px rgba(255,255,255,.4), 0 0 5px rgba(255,255,255,.4);
  color: white;
  font-family:'Satisfy';
  text-align: center;
  font-size: 4rem;
}


.centered {text-align: center;}
	
.container {
  color: #e5e5e5;
  font-size: 1.70rem;
  text-transform: uppercase;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation {
  height:50px;
  overflow:hidden;
  margin-left: 1rem;
  margin-bottom: 1.2rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height:2.81rem;
  margin-bottom: 2.81rem;
  display:inline-block;
  
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}


@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}

.profilepic {
  border-radius: 80%;
  width: 100%;
  height: 100%;
}

.ulreseau {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ulreseau li {
  list-style: none;
  margin: 0 15px;
}

.ulreseau li a {
  position: relative; 
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: white;
  border-radius: 50%;
  font-size: 30px;
  color: #6FB3B8;
  transition: .5s;
}

.ulreseau li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #6FB3B8;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.ulreseau li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #6FB3B8;
}

.ulreseau li a:hover {
  color: #6FB3B8;
  box-shadow: 0 0 5px white;
  text-shadow: 0 0 5px #6FB3B8;
}

.articletext {
  opacity: 1;
  color: white;
  font-family:'Gelasio';
  text-align: center;
  font-size: 1rem;
  overflow: hidden;
  text-align: justify;
  text-justify: inter-word;
}

.pretext {
  opacity: 1;
  color: white;
  font-family:'Alata';
  font-size: 3rem;
  overflow: hidden;
  text-align: center;
  
}

figcaption {
  opacity: 1;
  color: white;
  font-family:'Alata';
  text-align: center;
  font-size: 1rem;
  overflow: hidden;
}

.linkedinlink {
  box-shadow: inset 0 0 0 0 #6FB3B8;
  color: #F6F6F2;
	padding: 0 .25rem;
	margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.linkedinlink:hover {
  color: #6FB3B8;
  box-shadow: inset 200px 0 0 0 #6FB3B8;
}

nav ul {
        display: flex;
        list-style: none;
        margin-right: 5px;
      }
nav ul li {
margin-right: 10px;
}
nav ul li a {
text-decoration: none;
}
nav ul li a:hover {
text-decoration: underline;
}
.active {
text-decoration: underline;
}

.iconmenu {
transform : translate(0px, 50px);
}

.imgarticle {
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  padding-bottom:20px;
  padding-top:20px;
}

.demo {
  background-color: #121315;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.perspective-container {
  perspective: 800px;
}

@media only screen
   and (min-device-width : 320px)
   and (max-device-width : 480px){  .iconmenu { display: none;} section {width: 500px;} .wrapper {width: 860px;} .container  {display: none;} 
	.imgarticle {max-width: 300px;} .profilepic {max-width: 200px;}
}

